<!-- Posts -->
	<div class="posts">

		{% for post in include.posts %}

			<article>
				<a href="{{ post.url }}" class="image"><img class="posts-image" src="{{ post.image }}" alt="" /></a>
				<a href="{{ post.linkedin }}" class="linkedin" target="_blank"><li class="fa fa-linkedin-square" style="font-size: 1.4em;"></li></a>
				<h3 class="title">{{ post.title }}</h3>
				<p class="subtitle">{{ post.subtitle }}</p>
				<p class="about">{{ post.excerpt | remove: "<p>" | remove: "</p>" }}</p>
			</article>

		{% endfor %}

	</div>