<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">

		<section id="logo" class="alt"> </section>

		<!-- Menu -->
		<nav id="menu">
			<!--<header class="major">
				<h2></h2>
			</header>-->
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/research">Research</a></li>
				<li><a href="{{ site.baseurl }}/team">Team</a></li>
				<li>
					<span class="opener">Lab</span>
					<ul>
						<li><a href="#">Equipment</a></li>
						<li><a href="#">…</a></li>
					</ul>
				</li>
				<!--<li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
				<li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
			</ul>
		</nav>

		<!--<footer id="footer">
			<p class="copyright">&copy; Mobile Tech Lab, Westerdals. All rights reserved.</p>
		</footer>-->

	</div>
</div>